/* title section */
#title {
  background-color: #ff4c68;
}
body {
  overflow-x: hidden;
  font-family: "Ubuntu";
}
.container-fluid {
  padding: 1% 7%;
}
h1 {
  font-family: "Berkshire Swash", cursive;
  font-size: 3.7rem;
  line-height: 1.5;
}
.navbar {
  font-family: "Dosis", sans-serif;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.navbar-brand {
  font-size: 2rem;
}
.navbar-nav {
  font-size: 1.3rem;
}
.nav-item {
  padding: 0 1em;
}
.nav-link:hover {
  color: white;
}
.download-btn {
  margin-top: 2%;
  margin-right: 2%;
}
.title-img {
  width: 62%;
  height: auto;
  transform: rotate(25deg);
}
@media screen and (max-width: 1048px) {
  h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 991px) {
  .title-img {
    margin-top: 2%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 771px) {
  .title-img {
    /* margin-top: 8%; */
    width: 35%;
    transform: none;
  }
  #title {
    text-align: center;
  }
}
@media screen and (max-width: 365px) {
  .download-btn {
    padding: 1%;
  }
}
/* feature section  */
#features {
  background-color: white;
  position: relative;
  z-index: 1;
  margin-top: -6%;
}
.icon {
  color: #ff4c68;
  font-size: 2.2rem;
  margin-bottom: 2%;
}
.part {
  margin: 10% auto;
  text-align: center;
}
.part h3 {
  font-weight: 600;
}
.part p {
  color: rgba(0, 0, 0, 0.4);
}
.icon:hover {
  color: #d70020;
}
/* testimonial section  */
#testimonials {
  text-align: center;
  background-color: #ff4c68;
  color: white;
}
.section3 {
  padding-top: 5%;
  padding-bottom: 5%;
}
.section3 h2 {
  font-size: 2.5rem;
  margin: 2% 10%;
}
.section3 img {
  border-radius: 75%;
  width: 20%;
  height: auto;
}
#press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 2%;
}
#press img {
  width: 10%;
  padding-right: 2%;
}
.border-success {
  border-color: rgb(255, 76, 104) !important;
}
.card-body {
  color: black !important;
}
.card3 {
  line-height: 1;
}
/* pricing section  */
#pricing {
  margin: 4% auto;
  text-align: center;
}
.cards {
  margin: 4% auto;
  font-family: "Dosis", sans-serif;
}
.card-header {
  text-transform: uppercase;
  font-weight: 900;
}
#pricing h2 {
  font-size: 4.5rem;
  font-family: "Caveat", cursive;
}
#pricing p {
  font-family: "Dosis", sans-serif;
  margin-top: -1%;
  font-size: 1.3rem;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.5);
}
/* cta section  */
#cta {
  background-color: #ff4c68;
  text-align: center;
  color: white;
  margin: 3% auto;
}
#cta h3 {
  margin-top: 10%;
  font-family: "Berkshire Swash", cursive;
  font-size: 3rem;
  line-height: 1.5;
  margin: 10% 4% 0% 4%;
}
#cta button {
  margin-bottom: 10%;
}
/* footer section  */
footer {
  background-color: white;
  text-align: center;
}
.footer-content {
  margin: 5% auto;
}
.foot {
  margin: 1% 1%;
}
footer p {
  color: rgba(0, 0, 0, 0.6);
}
